DATABASE_URL={DATABASE_URL}
DATABASE_DIRECT_URL={DATABASE_DIRECT_URL}

AUTH_SECRET={AUTH_SECRET} # Added by `npx auth`. Read more: https://cli.authjs.dev

AUTH_GITHUB_ID={CLIENT_ID}
AUTH_GITHUB_SECRET={CLIENT_SECRET}

AUTH_GOOGLE_ID={CLIENT_ID}
AUTH_GOOGLE_SECRET={CLIENT_SECRET}